.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  padding: 5rem 5rem 0rem 0;
}

.card {
  border: 0.1rem solid #ccc;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
}

.photo {
  width: fit-content;
}

.infos {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.info {
  margin: 1rem;
}

a {
  margin-top: 1rem;
  color: #2b52e2;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }
}
